.vs/

apps/electron/.vite/
apps/electron/native/build/
apps/electron/native/opencv.gypi
apps/electron/node_modules/
apps/electron/out/
build/
third_party/opencv/.cache/
third_party/opencv/build/
third_party/*/build/
third_party/*/install/
third_party/*/.cache/
third_party/nasm/**/*.obj
third_party/nasm/*.exe
third_party/nasm/*.lib
third_party/nasm/*.pdb
third_party/nasm/*.ilk
third_party/nasm/msvc.dep
third_party/libraw/buildfiles/*-x86_64/
third_party/libavif/build-windows-x64/
third_party/jxrlib/image/vc12projects/Release/
third_party/jxrlib/jxrgluelib/Release/
